- execution_id = execution.id
- pass = execution.pass.map{|p| [p['name'], testcase_detail_path(execution_id, p['id'])]}
- fail = execution.fail.map{|p| [p['name'], testcase_detail_path(execution_id, p['id'])]}
- skip = execution.skip.map{|p| [p['name'], testcase_detail_path(execution_id, p['id'])]}
- not_run = execution.not_run.map{|p| [p['name'], testcase_detail_path(execution_id, p['id'])]}

.container-fluid
  .row
    .col-md-3
      .results_nav{style: 'min-width:200px'}
        .panel.panel-default
          .panel-body{style: 'min-width:200px'}
            Show:
            .form-group
              = select_tag "test", grouped_options_for_select([['Failed', fail],
                                                               ['Passed', pass],
                                                               ['Skipped', skip],
                                                               ['No Results', not_run]], nil),
                                                       {class: 'functional select2',
                                                        style: 'width:100%',
                                                        include_blank: true,
                                                        data: {placeholder: 'Select Testcase'}}

        #f_results_nav_subpanel
          - if execution.fail.count > 0
            .panel.panel-default
              .panel-body
                Failures:
                %ul{ style: 'margin-left: 10px'}
                  - execution.fail.each do |testcase|
                    %li= link_to testcase['name'], testcase_detail_path(execution['id'], testcase['id']), class: 'results_load'

          - if execution.not_run.count > 0
            .panel.panel-default
              .panel-body
                No Results:
                %ul{ style: 'margin-left: 10px'}
                  - execution.not_run.each do |testcase|
                    %li= link_to testcase['name'], testcase_detail_path(execution['id'], testcase['id']), class: 'results_load'
    #functional_results_panel
:javascript
  $('.functional.select2').select2()
  $('.functional.select2').on("select2:selecting", function(e) {
    $('#functional_results_panel').fadeOut().load(e.params.args.data.id, function(){
      $('#functional_results_panel').fadeIn()
    })
  });

  $('.results_load').click(function(e){
    e.preventDefault();
    $('#functional_results_panel').hide().load(this.href, function(){
      $('#functional_results_panel').fadeIn()
    })
  })


