- total_tests = @count['testcases']
.row
  .col-md-12
    %table.table.table-condensed.table-overview.numbered_table
      %tbody

        - environments.each_with_index do |environment, i|
          - env = summary.find{|e| e['id'] == environment['id']}
          - pass_count = env ? env['pass_count'] : 0
          - fail_count = env ? env['fail_count'] : 0
          - skip_count = env ? env['skip_count'] : 0

          %tr
            - results_bar = stacked_progress_bar :Results, total_tests, pass_count, fail_count, skip_count
            %td
              .row-index
            %td
              = display_icon_for environment['environment_type']
              = environment['display_name'] && environment['display_name'] != '' ? environment['display_name'] : environment['uuid']

            %td
              .stacked_progress
                = results_bar

            %td
              .pull-right.small.overview-time
                -if env                                            #FIX ME
                  .timeago{title: DateTime.parse(environment['updated_at']).iso8601}
            %td
              .pull-right
                -#= link_to '',execution_device_info_path(execution_id: device.execution.id, device_id: device.id), class: 'glyphicon glyphicon-info-sign link-icon', data: {toggle: 'modal', target: '#infoModal'}, remote: true



  :javascript
    $('.timeago').timeago()