%h5
  = testcase['name']
= render partial: 'testcases/steps', locals: {steps: testcase['reproduction_steps']}
= render partial: 'results/result_form', locals: {runner: true, execution_id: @execution_id, testcase_id: testcase['validation_id'] && testcase['validation_id'] != '' ? testcase['validation_id'] : testcase['name']}
