%h3{style: 'margin:25px'}
  Step Log
  .btn.btn-default.btn.sm.pull-right.expand_all Expand All
  .btn.btn-default.btn.sm.pull-right.collapse_all Collapse All

.panel.panel-default{style: 'margin:25px'}
  .panel-body
    .step-log
      - JSON.parse(@step_log).each do |step|
        = render partial: 'step_log_level', locals: {step: step}

:javascript
  $('.step-expand').click(function(e){

    $(this).closest('.step').find('.sub_steps:first').slideToggle()
    $(this).find('.step-expand-icon:first').toggleClass('fa-plus-square-o fa-minus-square-o')
    e.preventDefault()
  })

  $('.expand_all').click(function(){
    $('.sub_steps').show();
    $('.fa-plus-square-o').addClass('fa-minus-square-o').removeClass('fa-plus-square-o')
    $(this).hide()
    $('.collapse_all').show()
  })
  $('.collapse_all').click(function(){
    $('.sub_steps').hide();
    $('.fa-minus-square-o').addClass('fa-plus-square-o').removeClass('fa-minus-square-o')
    $(this).hide()
    $('.expand_all').show()
  })