/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter/bootstrap
 *= require custom_bootstrap/custom_bootstrap
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require dropzone/dropzone
 *= require_tree .
 *= require_self
 */

.dz-error-mark g{
    fill: red

}
.dz-success-mark g{
    fill: green
}

.sub_steps{
    display: none;
    margin-left: 25px;
    /*border: 1px solid lightgray;*/
}
.collapse_all{
    display: none;
}
.step-expand{
    border: 1px solid white;
}
.step-expand:hover{
    background: #e8e8e8;
    border: 1px solid lightgray;
}


.step_name{
    word-wrap: break-word;
    display: inline;

}

.step_time{
    margin: 10px;
}

.step-table{
    width: 100%;
}
.step-icon{

    text-align: center;
    margin: auto;
    width: 30px;
}
.step_status{
    width: 40px;
    font-size: 1.25em;
}
ul.select2-results {
    max-height: 450px;
}
.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}
.sk-cube-grid {
    width: 60px;
    height: 60px;
    margin: 100px auto;
    margin-bottom: 25px;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

.loading-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.3); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    display: none;
}

.loading-icon{
    opacity: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-header{
    width: 100%
}

.numbered_table {
    counter-reset: rowNumber;
}

.numbered_table tr {
    counter-increment: rowNumber;
}

.numbered_table tr td .row-index::before {
    content: counter(rowNumber);
    min-width: 1em;
}
.numbered_table tr td .row-index::after {
    content: '.';
}
.testcase-step table{
    width: 100%;
}
.testcase-step .step-cell{
    width: 95%;
}
.testcase-step .action-cell{
    width: 5%;
}
.testcase-step .action-cell table{
    height: 100px;
    margin-left: 15px;
    margin-top: 30px;
}
.testcase-step:first-of-type .step-up, .testcase-step:last-child .step-down{
    display: none
}
.step-up, .step-down{
    cursor: pointer;
}

.step-remove{
    color: red;
    cursor: pointer;
}

.results_load {
    display: block;
    padding: 4px 0px;
}

#f_results_nav_subpanel {
    max-height: 470px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#f_results_nav_subpanel .panel.panel-default:last-of-type {
    margin-bottom: 0 !important;
}

#select2-test-results {
    max-height: 450px;
}
